.left
{
    color:black;
    width:200px;
    height:25px;
    float: left;
    background-color: burlywood   
}
.right
{
    color:black;
    width:200px;
    height:25px;
    float:right;
    background-color: burlywood   
}

.wrapper
{
    width:400px;
    background-color: antiquewhite 
       
}